<div *ngIf="reservelist" class="row mt-3">
    <div class="card col-md-4 mt-2" *ngFor="let x of reservelist">
      <h4 class="card-header mdb-color lighten-1 white-text">Lab Name - {{x.labname}} </h4>
      <div class="card-body">
            
            <h5 class="card-title"> Date --> {{x.reserveddate}}</h5>
            <h5 class="card-title"> Time --> {{x.from}} - {{x.to}}</h5>
           
         <div class="row">      
                <button [routerLink] = "['/addreservation']" type="button" (click)="onReservationDelete(x._id)" class="btn btn-outline-danger  waves-effect">Delete </button>
                <button [routerLink] = "['/filter']" type="button"  class="btn btn-outline-default waves-effect">Edit </button>
                <!-- (click)="onReservationEdit(x._id)" -->
              </div>
      </div>
    </div>
    </div>


    